ampl
amplgsl.dll
amplide
ampl.lic
amplxl.dll
assets
baron
bonmin
cbc
coin-license.txt
coin-versions.txt
conopt
copt
couenne
cp_64.dll
cp.ampl
cplex
docs
fingerprint
geckodriver.log
gsl.ampl
gsl-version.txt
gurobi
ilogcp
ipopt
kestrel
knitro
lgo
libbaron-lin64.so
libcilkrts.so.5
libconopt464.so
libconsub3.so
libcopt.so
libcplex12100.so
libcplex2010.so
libgcc_s.lindo.so.1
libgcc_s.so.1
libgfortran.lindo.so.3
libgfortran.so.3
libgurobi95.so
libiomp5.baron.so
libiomp5.knitro.so
libiomp5.lindo.so
liblindo64.so.13.0
libmosek64.so.9.2
libquadmath.lindo.so.0
libxprl.so.x8.13
libxprs.so.39.01
lindoglobal
loqo
minos
models
octeract
octeract-runtime
ors__v2_matrix_{profile}_post_1650781569630.json
report.aux
report.fdb_latexmk
report.fls
report.log
report.out
report.synctex.gz
snopt
x-ampl
x-gurobi
xpauth.xpr
xpress
